<footer class="footer bg-base-200 text-base-content p-10">
  <nav>
    <h6 class="footer-title">Shop</h6>
    <a class="link link-hover">Shop All</a>
    <a class="link link-hover">Tees</a>
    <a class="link link-hover">Outerwear</a>
    <a class="link link-hover">Bottoms</a>
    <a class="link link-hover">Accessories</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
  <form>
    <h6 class="footer-title">Newsletter</h6>
    <fieldset class="form-control w-80">
      <label class="label">
        <span class="label-text">Enter your email address</span>
      </label>
      <div class="join">
        <input
          type="text"
          placeholder="username@site.com"
          class="input input-bordered join-item" />
        <button class="btn bg-red-600 text-white border-red-600 join-item">Subscribe</button>
      </div>
    </fieldset>
  </form>
</footer>
