<div
  class="hero min-h-screen"
  style="background-image: url(/images/billboard-mockup.png);">
  <div class="hero-overlay bg-opacity-75"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">NIGHT OWL</h1>
      <p class="mb-5">
        Embrace the allure of the night with Night Owl, where we celebrate those who thrive in the shadows. Discover exclusive collections designed for those who dare to stand out. Join the movement and let your style shine in the dark.
      </p>
      <button class="btn bg-red-600 text-white border-red-600 rounded-2xl">Get Started</button>
    </div>
  </div>
</div>
